<!DOCTYPE html>
<div>
	<div class="game-board">
		<div class="score-board">
			Invisible layer, only shown when the game is finished!
		</div>
		<div class="left-pane"> 	<!-- canvas -->
			<canvas id="arena" width="320" height="480"></canvas>
		</div>
		<div class="right-pane"> 	<!-- control panel -->
			<p>Control messages shown here</p>
		</div>
	</div>
	<div class="game-bottom">
		<p>Disclaimer: This is a testing message</p>
		<p>This is the second paragraph</p>
	</div>
</div>