<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input class="form-control" type="email" autofocus="" required="" placeholder="Email address" style="background-image: url("data:image/png;base64,iVBORw0KGgoAAAA…nt: scroll; background-position: right center; cursor: auto;" autocomplete="off"></input>
        <input class="form-control" type="password" required="" placeholder="Password" style="background-image: url("data:image/png;base64,iVBORw0KGgoAAAA…round-attachment: scroll; background-position: right center;" autocomplete="off"></input>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"></input>
            Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>